html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    font-family: 'RopaSansReg', sans-serif;
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(193,223,240,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    text-decoration: none;
    color: #FFF;
}
@font-face {
    font-family: 'RopaSansReg';
    src: url(/fonts/RopaSans-Regular.ttf);
}

.barra {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 12rem;
    background-color: #030455;
    box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(0,0,0,0.75);
}
.logo {
    width: 9rem;
    height: 9rem;
}
.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav__a {
    text-decoration: none;
    text-transform: uppercase;
    color: #D5F3F9;
    font-size: 2.4rem;
    border: 4px solid transparent;
    padding: 0 1rem;
    transition: all 0.3s ease 0s;
}    
.nav__a:hover {
    padding: 4.3rem 1rem;
    color: #ADE8F4;
    border-bottom: 4px solid #00B4D8;
    background-color: #090A46;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.texto {
    width: 36%;
}
.header-img {
    width: 23%;
    min-width: 54rem;
}
.titulo {
    font-size: 4rem;
    margin: 0;
}
.sub-titulo {
    font-size: 3.4rem;
    color: #163c6d;
    margin-top: 1rem;
}
.texto__p {
    width: 70%;
    font-size: 2.2rem;
    margin-top: 4rem;
    line-height: 2.4rem;
}
.boton {
    font-family: 'RopaSansReg';
    width: 24%;
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    margin-right: 2rem;
    font-size: 2.2rem;
    cursor: pointer;
    background-color: #00B4D8;
    color: #FFF;
    margin-top: 3rem;
    transition: all 0.3s ease 0s;
}
.boton:hover {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    background-color: #00adcf;
}
.btn-info {
    background-color: transparent;
    color: #000;
    border: 2px solid #00B4D8;
}
.btn-info:hover {
    background-color: rgb(210, 231, 243);
    border: 2px solid #00adcf;
}
.boton-info__link {
    text-decoration: none;
    color: #000;
}

.cont {
    width: 90%;
    background-color: rgba(0, 149, 199, 0.1);
    margin: 0 auto;
    border-radius: 2rem;
}
.main-t {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
    padding: 4rem 0;
    margin: 0 0 3rem;
    color: #090A46;
}

.ventajas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.vent {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #00B4D8;
}
.vent__img {
    width: 80px;
}
.vent__t {
    font-size: 2.8rem;
    color: #163c6d;
    margin: 2.6rem 0 2rem;
}
.vent__p {
    text-align: center;
    width: 70%;
    font-size: 2rem;
    margin-bottom: 6rem;
}

.servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.metodo {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.metodo__img {
    width: 80px;
}
.metodo__t {
    font-size: 2.8rem;
    margin: 2.6rem 0 2rem;
    color: #163c6d;
}
.metodo__p {
    width: 60%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 6rem;
}

.trabajos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}
.trabajos__pag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.8rem;
    margin: 2rem 0 4rem;
}
.trabajos__titulo {
}
.trabajos__t {
    text-align: center;
    font-size: 4rem;
    margin-top: 6rem;
}
.paginas {
    position: relative;
    width: 380px;
}
.paginas__a {
}
.paginas__img {
    width: 100%;
    display: block;
    border: 2px solid #00B4D8;
    border-radius: 1rem;
}
.img--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
    cursor: pointer;
    border-radius: 1rem;
}
.img--overlay:hover {
    opacity: 1;
    border-radius: 1rem;
    border: 3px solid #FFF;
}
.img--t {
    font-size: 2.4rem;
}
.img--p {
    font-size: 1.8rem;
}
.ver-mas {
    margin: 3rem 0;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    width: 70%;
    margin: 0 auto;
    border-radius: 2rem;
    margin-top: 10rem;
    gap: 10rem;
    padding: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__t {
    font-size: 3.4rem;
}
.form__cont {
    display: flex;
    flex-direction: column;
}
.form__campo {
    padding: 2rem 6rem 2rem 1rem;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid #163c6d;
    font-family: 'RopaSansReg';
    font-size: 1.6rem;
    background-color: #f8f9fa;
}
.form__campo:focus {
    outline: 0;
}
.form-control {
    position: relative;
    margin-bottom: 2rem;
}
.form-control.ok input,
.form-control.ok textarea {
    border: 0.1px solid #08ffc8;
}
.form-control.falla input,
.form-control.falla textarea {
    border: 0.1px solid #fe5f55;
}
.form-control p {
    visibility: hidden;
    font-size: small;
    font-weight: 500;
    position: absolute;
}
.form-control.falla p {
    visibility: visible;
    color: #e74c3c;
    margin: 0 0 2rem 0;

}
.contacto__img {
    width: 23%;
}
.btn-form {
    padding: 0.8rem 0;
    border: none;
    background-color: #00B4D8;
    color: #FFF;
    font-family: 'RopaSansReg';
    font-size: 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.3s ease 0s;
}
.btn-form:hover {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    background-color: #00adcf;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: #030455;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
}
.footer__logo {
    width: 90px;
    height: 90px;
}
.footer__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__copy {
    font-size: 1.8rem;
    color: #FFF;
    line-height: 0.1rem;
}

.footer__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer__img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}




/* .sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 150, 199, 0.1);
}
.sobremi-img {
    width: 26%;
    margin-bottom: 10rem;
    margin-top: 4rem;
}
.sobremi-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.sobremi__titulo {
    text-align: center;
    font-size: 3.4rem;
    margin: 0;
}
.sobremi__p {
    font-size: 2.2rem;
    width: 70%;
    text-align: center;
} */